version: '3.1'
services:
  web-app:
    build:
      context: .
      dockerfile: docker/django/Dockerfile
    ports:
      - "80:80"
    env_file:
      - .env
    environment:
      DJANGO_SETTINGS_MODULE: project.settings.settings
    volumes:
      - ./project:/service
    command: sh -c "python manage.py runserver 0.0.0.0:80"
    depends_on:
      - db

  db:
    image: postgres:14.6-alpine
    env_file:
      -  .env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - 5432:5432

volumes:
  postgres_data: